/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

* {
    margin: 0;
    padding: 0;
}


body {
    
    overflow-x: hidden;
    color: white;
    font-family: Lato;
    text-align: center;
    padding: 80px 30px;
    background: rgb(61,96,107);
    background: -moz-linear-gradient(163deg, rgba(61,96,107,1) 0%, rgba(48,60,80,1) 43%);
    background: -webkit-linear-gradient(163deg, rgba(61,96,107,1) 0%, rgba(48,60,80,1) 43%);
    background: linear-gradient(163deg, rgba(61,96,107,1) 0%, rgba(48,60,80,1) 43%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d606b",endColorstr="#303c50",GradientType=1);
}

/******************************************
/* TYPOGRAPHY
/*******************************************/
h1 {
    font-size: 2.2rem;
    font-weight: 900;
}

/******************************************
/* LAYOUT
/*******************************************/
/* Main Styling */
main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
/* Top Content Wrapper Styling */
.top-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

/* Game Score Wrapper Styling */
.game-score-wrapper {
    padding: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 22px -2px rgba(0,0,0,0.53);
    -moz-box-shadow: inset 0px 0px 22px -2px rgba(0,0,0,0.53);
    box-shadow: inset 0px 0px 22px -2px rgba(0,0,0,0.53);
    background-color: rgb(97, 49, 0);
}

/* Game Score Wrapper Text Styling */
.game-score-wrapper span {
    display: block;
    margin: 50px 0;
}

/* Round Result Wrapper Styling */
.round-result-wrapper {
    width: 300px;
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 50px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 22px -2px rgba(0,0,0,0.53);
    -moz-box-shadow: inset 0px 0px 22px -2px rgba(0,0,0,0.53);
    box-shadow: inset 0px 0px 22px -2px rgba(0,0,0,0.53);
    background-color: rgb(97, 49, 0);
}

/* Computer Result Rock, Paper, Scissors Image Styling */
.rock , .paper , .scissors {
    display: none;
    padding: 20px;
    width: 200px;
}

/* Win/Loss Icon Styling */
.win , .loss {
    display: none;
    width: 160px;
}

/* Bottom Content Wrapper Styling */
.bottom-content-wrapper span {
    font-size: 1.3rem;
    font-weight: 700;
}

/* Human Choice Wrapper Styling */
.human-choice-wrapper {
    display: flex;
    gap: 60px;
    margin: 50px auto;
    justify-content: center;
    flex-wrap: wrap;
}

/* Human Choice Rock, Paper, Scissors Image Wrapper Styling */
#rock , #paper , #scissors {
    width: 200px;
    padding: 20px;
    border: 15px solid white;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.75);
    transition: 0.5s;
    transform: scale(1);
}
/* Human Choice Rock, Paper, Scissors Image Wrapper Hover Styling */
#rock:hover , #paper:hover , #scissors:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

/* Human Choice Rock, Paper, Scissors Image Styling */
#rock img , #paper img, #scissors img {
    width: 100%;
}

